body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

.sidebar {
    margin-top: 50px;
    width: 220px;
    border: 1px solid black;
    background: #34495e;
    height: 691px;
}

.sidebar ul {
    list-style: none;
    border: 2px solid black;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background: #1abc9c;
}

.main-content {
    margin-top: 80px;
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}
